.card {
  min-height: 305px;
  width: 220px;
  border-radius: 10px;
  background-color: #943c1f;
  margin: 10px;
}

.card-interactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favorite-button,
.addToCart-button {
  margin: 12px 8px;
  cursor: pointer;
}

.card-image-container {
  width: 100%;
  text-align: center;
}

.card-image img {
  box-shadow: 1px 1px 1px black;
  background-color: white;
  border-radius: 5px;
}

.beverage-info {
  width: 100%;
  text-align: center;
}

.beverage-name {
  font-size: 18px;
  margin: 0;
  font-family: "Viner Hand ITC", Times New Roman, cursive;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
.beverage-price {
  margin: 5px;
  color: white;
}
