@font-face {
  font-family: "Western";
  src: local("MyFont"), url(../fonts/Montague.ttf) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* Card Container */
.card-container {
  background-image: url(../Assets/card-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  border-radius: 4px;
  max-width: 1700px;
  min-height: 500px;
  height: fit-content;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

/* All cards Container */
.all-cards-container {
  width: 95%;
  margin: 25px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Page Buttons */
.page-button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10 0 0;
  height: 100%;
  align-items: center;
  height: fit-content;
}
.page-buttons img {
  padding: 20px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.page-buttons {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/* Container for search input and beer cards */
.search-api-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Beer filter buttons */
.beer-filters-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.beer-filters-container > p {
  font-size: 28px;
  margin: 0;
  color: rgb(14, 14, 14);
  letter-spacing: 3px;
  font-family: Western;
  cursor: pointer;
}
.beer-filters-container > p:hover {
  color: #7b3018;
  transition: 0.3s;
  text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Resize page buttons */
  .page-buttons img {
    padding: 5px;
    height: 23px;
    width: 23px;
    cursor: pointer;
  }
  /* ===== */

  /* Beer filter buttons */
  .beer-filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .beer-filters-container > p {
    font-size: 20px;
  }
  /* === */

  /* All Cards Container */
  .all-cards-container {
    margin: 20px 10px;
  }
  /* === */
}

/* Error Message */
.error-message-container {
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-message-container p {
  font-style: italic;
  font-size: 28px;
  color: #f31808;
  font-weight: bolder;
  font-family: "Viner Hand ITC", Times New Roman, cursive;
}
/* === */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Resize page buttons */
  .page-buttons img {
    padding: 10px;
    height: 38px;
    width: 38px;
    cursor: pointer;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page-buttons img {
    padding: 15px;
    height: 65px;
    width: 65px;
    cursor: pointer;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
