.cart-items {
  height: 35%;
  width: 97%;
  background-color: white;
  display: flex;

  border-radius: 3px;
  margin: 5px;
}

/* image */
.beverage-image {
  background-color: #7b3018;
  width: 40%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Cart name and price */
.beverage-information-container {
  height: 100%;
  width: 100%;
}
#name {
  font-style: italic;
}
#price {
  font-size: 16px;
}
.information {
  font-size: 18px;
  letter-spacing: 1px;
}
/* == */

/* Delete item from cart  */
.input-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#delete-item {
  margin-right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #7b3018;
  font-weight: bold;
  /* cursor: pointer; */
}
/* == */
