.cart-items {
  height: 50%;
  width: 97%;
  background-color: white;
  display: flex;
  border-radius: 3px;
  margin: 5px;
}

/* image container */
.beverage-image {
  background-color: #fff;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cart name and price */
.beverage-information-container {
  height: 100%;
  width: 100%;
}
#name {
  font-style: italic;
}
#price {
  font-size: 16px;
}
.information {
  font-size: 18px;
  letter-spacing: 1px;
}
/* == */

/* Delete item from cart  */
.deleteItem-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#delete-item {
  margin-right: 10px;
  cursor: pointer;
}
/* == */

/* Media Querys - Mobile, tablet, landscape */
@media screen and (min-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
  /* image container */
  .beverage-image img {
    width: 35%;
    height: 75%;
  }
}
/* == */
