.cart-items {
  height: 100px;
  width: 97%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 5px;
}

/* image */
.beverage-image {
  background-color: #7b3018;
  width: 85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cart name and price */
.beverage-information-container {
  height: 100%;
  justify-content: space-between;
}
#name {
  justify-self: flex-start;
  font-style: italic;
}
#price {
  justify-self: flex-end;
  font-size: 16px;
}
.information {
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
/* == */

.delete-beverage {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#delete-item {
  margin-right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #7b3018;
  font-weight: bold;
}
