.checkout-form-container {
  width: 60%;
  height: fit-content;
  margin-bottom: 10px;
}

/* Billing address title */
.checkout-title {
  padding-left: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
/* == */

/* form inputs */
form select,
.checkout-form input {
  padding: 16px;
  margin: 20px;
  box-shadow: 0 0 5pt 0.5pt #414040;
}
.form-name {
  width: 42%;
}
.form-address,
.form-email {
  width: 91%;
}
.form-country,
.form-state,
.form-zip {
  width: 27.7%;
}
/* == */

/* Submit order button */
.checkout-button-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.checkout-button {
  width: 400px;
  padding: 10px;
  background-color: #7b3018;
  color: white;
}
.checkout-button:hover {
  cursor: pointer;
  border: 2px solid white;
}
/* == */

/* Media Querys - Mobile, tablet, landscape */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* form inputs */
  .form-name {
    width: 80%;
  }
  .form-address,
  .form-email {
    width: 80%;
  }
  .form-country,
  .form-state,
  .form-zip {
    width: 38.7%;
  }
  /* == */

  /* Submit order button */
  .checkout-button {
    width: 250px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
  .checkout-form-container {
    width: 100%;
  }
  /* form inputs */
  .form-name {
    width: 80%;
  }
  .form-address,
  .form-email {
    width: 80%;
  }
  .form-country,
  .form-state,
  .form-zip {
    width: 38.7%;
  }
  /* == */

  /* Submit order button */
  .checkout-button {
    width: 250px;
  }
}
