.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/card-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  border-radius: 4px;
  max-width: 1700px;
  min-height: 60vh;
  margin: 0 auto;
  position: relative;
  top: 30px;
  padding: 15px;
}

/* Media Querys - Mobile, tablet, landscape */
@media screen and (min-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
  .checkout-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
