.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  display: flex;
  background-color: #e6e7cb;
  max-width: 750px;
  min-height: 500px;
  border-radius: 10px;

  /* //Centering modal */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* == */
}

/* Beverage Title */
.title {
  font-size: 40px;
  letter-spacing: 1px;
  font-family: "Viner Hand ITC", Times New Roman, cursive;
  position: relative;
  left: 70px;
  color: #e3bb67;
  width: 400px;
  min-height: 120px;
}
/* === */

/* Image Container */
.beverage-image-container {
  width: 300px;
  min-height: 495px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #7b3018;
  border-radius: 10px;
}
/* == */

/* Container for beverage, abv, ibu, description */
.beverage-data-container {
  display: flex;
  border-top: 1px solid black;
  width: 500px;
  margin-left: 10px;
}
/* == */

/* Container for abv and ibu */
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid black;
  width: 150px;
}
/* == */

/* abv, ibu styles */
.beverage-details {
  width: 200px;
  height: 60px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: #7b3018;
  font-weight: 700;
}

/* Beverage Description */
.description {
  margin: 10px;
  letter-spacing: 1px;
  font-weight: 500;
}
/* == */

/* Add to cart button */
.cart-button-container {
  text-align: center;
  margin: 10px;
}
#add-to-cart {
  padding: 10px;
  border-radius: 5px;
  background-color: #7b3018;
  color: white;
  letter-spacing: 1px;
  border: none;
  font-weight: bold;
  outline: 1px solid black;
  margin-left: 5px;
}
#add-to-cart:hover {
  color: #e3bb67;
  cursor: pointer;
}
/* == */

/* Media Querys - Mobile, tablet, landscape */
/* For Mobile Portrait View */
@media screen and (max-device-width: 620px) and (orientation: portrait) {
  /* modal container */
  .modal-content {
    max-width: 350px;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
  }
  /* === */
  /* Beverage title */
  .title {
    font-size: 32px;
    left: 0px;
    padding-left: 10px;
    width: 80%;
  }
  /* === */
  /* Image Container */
  .beverage-image-container {
    min-height: 95px;
    width: fit-content;
    position: relative;
    top: -120px;
    right: 20px;
    align-items: flex-start;
    background-color: inherit;
  }
  /* === */
  /* beverage image */
  .beverage-image-container img {
    width: 30px;
    height: 130px;
  }
  /* == */

  /* abv, ibu container */
  .beverage-data-container {
    margin-left: 0px;
    width: 100%;
  }
  /* === */
  /* abv, ibu styles */
  .beverage-details {
    width: 100px;
  }
  /* === */
  /* Beverage Description */
  .description {
    max-height: 200px;
    overflow: auto;
    width: 100%;
  }
  /* === */
}
