.order-placed-container {
  background-image: url(../Assets/card-background.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1700px;
  height: 80vh;
  margin: 0 auto;
}

.order-placed-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 88%;
}

.order-placed-message {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-weight: 900;
  text-align: center;
}

.order-btn {
  width: 200px;
  padding: 8px;
  background-color: #7b3018;
  color: white;
  font-size: 16px;
  border: none;
}
.order-btn:hover {
  border: 2px solid black;
  cursor: pointer;
}

.order-placed-image img {
  height: 300px;
  width: "";
}
