.quantity-view {
  min-height: 305px;
  width: 220px;
  border-radius: 10px;
  background-color: #e28465;
  margin: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#quantity-back {
  display: flex;
  justify-content: space-between;
}

#quantity-back img {
  padding: 5px 20px;
}

#quantity-back span {
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.quantity-product-details #name {
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 10px;
  color: white;
}

.quantity-product-details .ibu-abv {
  font-weight: 400;
  padding: 0 0 0 10px;
}

.quantity-confirm {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-btn {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  opacity: 0.9;
}
.confirm-btn:hover {
  opacity: 1;
  cursor: pointer;
}
