/* Shopping Cart container and cart size */
.shopping-cart {
  flex: 0 1 auto;
  width: 100px;
  margin-left: auto;
  z-index: 1;
}
.shopping-cart img:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 0.8s;
}
/* Flash for shopping cart image */
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* == */

.cart-size {
  width: 20px;
  height: 18px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* == */

/* Cart Quick View */
.cart-quickview {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #0a0a0a;
  height: 620px;
  width: 400px;
  position: absolute;
  top: 90px;
  right: 80px;
  border-radius: 2%;
  background-color: #e3bb67;
  text-align: center;
  border: 2px solid black;
  z-index: -1;
}
#quickview-title {
  font-family: "Viner Hand ITC", Times New Roman, cursive;
  color: white;
  color: #943c1f;
  letter-spacing: 1px;
  font-weight: bold;
}
#quickview-cart-length {
  color: black;
  font-family: "Viner Hand ITC", Times New Roman, cursive;
}

/* Cart Items container - scroll */
.cart-item-quickview-container {
  overflow: auto;
  max-height: 270px;
}

.order-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
